
:root{
    --HasanModal-cover-color: #ffffff;
    --HasanModal-background-color: #ffffff;
}

@media only screen and (min-width:1450px){
    .hasan-modal {
        display: block;
        background-color: rgba(51, 24, 23, 0.69);
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        height: 100%;
        transition: 1s;
    
    }
    
    .hasan-popub{
        margin: auto;
        padding: 40px;
        left: 30%;
        top: 30%;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.80);
        -moz-transition: box-shadow 0.4s ease;
        -webkit-transition: box-shadow 0.4s ease;
        -o-transition: box-shadow 0.4s ease;
        -ms-transition: box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease;
        -moz-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
        transition: .5s ease;
        border-radius: 6px;
        box-shadow: 4px 5px 9px 2px rgba(0, 0, 0, 0.25);
        /*transition: 1s;*/
        /*clip-path: polygon(21% 0, 100% 0, 100% 67%, 100% 100%, 0 100%, 0% 59%, 0 74%);*/
    }
    
    
    .h-close-button {
        transition: 1s;
        position: absolute;
        top: 8px;
        left: 94%;
    
    }
    
    .h-icon {
        color: rgba(225, 23, 12, 0.6);
        font-size: 120px;
        text-align: center;
    }
    
    #popub_mesaj_id {
        text-align: center;
        padding-top: 15px;
        font-size: 16px;
    }
    
    .duzenleme_buttonu {
        text-align: left;
    }
    
    
    .silme_butonu{
        background: #ff000085;     margin-left: -26px;    padding: 5px;    color: white;    border-radius: 5px;
    }
}


@media only screen and (max-width:1000px){
    
.hasan-modal{
    display: block;
    background-color: rgba(51, 24, 23, 0.69);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 100%;
    transition: 1s;

}

.hasan-popub{
    margin: auto;
    left: 12%;
    right: 12%;
    top: 25%;
    padding: 15px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.90);
    -moz-transition: box-shadow 0.4s ease;
    -webkit-transition: box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    -ms-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    -moz-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    transition: .5s ease;
    border-radius: 6px;
    box-shadow: 4px 5px 9px 2px rgba(0, 0, 0, 0.25);
    /*transition: 1s;*/
}


.h-close-button{
    transition: 1s;
    position: absolute;
    top: 3px;
    left:85%;

}

.h-icon{
    margin-top: 15px;
    color: rgba(225, 23, 12, 0.6);
    font-size: 50px;
    text-align: center;
}
#popub_mesaj_id{
    text-align: center;
}


.duzenleme_buttonu {
    margin: 17px 0px 0px auto;
    text-align: center;
}

.silme_butonu{
    background: #ff000085;         margin-left: 337px;
    top: -33px; position: absolute;   padding: 5px;    color: white;    border-radius: 5px;
}
}


@media only screen and (min-width:1000px) and (max-width:1450px){
    
.hasan-modal{
    display: block;
    transition: 1s;
    background-color: rgba(51, 24, 23, 0.69);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 100%;
}

.hasan-popub{
    margin: auto;
    left: 30%;
    top: 30%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 40px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.80);
    -moz-transition: box-shadow 0.4s ease;
    -webkit-transition: box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    -ms-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    -moz-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 35px 30px -30px rgba(0, 0, 0, 0.4);
    transition: .5s ease;
    border-radius: 6px;
    box-shadow: 4px 5px 9px 2px rgba(0, 0, 0, 0.25);
    /*transition: 1s;*/
    /*clip-path: polygon(21% 0, 100% 0, 100% 67%, 100% 100%, 0 100%, 0% 59%, 0 74%);*/
}


.h-close-button{
    transition: 1s;
    position: absolute;
    top: 8px;
    left:94%;

}

.h-icon{
    color: rgba(225, 23, 12, 0.6);
    font-size: 120px;
    text-align: center;
}
#popub_mesaj_id{
    text-align: center;
    padding-top: 15px;
}

.duzenleme_buttonu {
    margin: auto -10px;
    text-align: left;
}






.silme_butonu{
    background: #ff000085;     margin-left: -26px;    padding: 5px;    color: white;    border-radius: 5px;
}

}
